@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadein-animation {
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
}

.fadeout-animation {
  animation: fadeout 0.5s;
  -webkit-animation: fadeout 0.5s;
}

.gay {
  background-image: linear-gradient(to right,
      rgb(7, 142, 112),
      rgb(38, 207, 170),
      rgb(153, 232, 193),
      rgb(255, 255, 255),
      rgb(123, 173, 226),
      rgb(79, 72, 203),
      rgb(61, 26, 119));
}

body {
  font-family: config, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: auto;
  text-shadow: 0.5px 0.5px 4px white;
}

.logo {
  transition-duration: 50ms;
  cursor: pointer;
  height: 100%;
  content: url(/img/logo_light.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo:hover {
  content: url(/img/logo_dark.png);
}

.logo:active {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: start;
  justify-content: flex-start;
  z-index: 3;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.25), 0 1px 0 hsla(0, 0%, 0%, 1),
    0 4px 8px hsla(0, 0%, 0%, 0.75);
  background-image: repeating-linear-gradient(to right,
      transparent,
      transparent 2px,
      hsla(0, 0%, 100%, 0.01) 2px,
      hsla(0, 0%, 100%, 0.01) 4px),
    linear-gradient(to bottom,
      hsla(0, 0%, 15%, 0.75),
      hsla(0, 0%, 5%, 0.75) 49%,
      hsla(0, 0%, 0%, 0.75) 50%,
      hsla(0, 0%, 0%, 0.75));
  padding: 0;
  height: 64px;
  --bs-bg-opacity: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.navbar-menu-isopen {
  box-shadow: none;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 50ms;
  background: transparent;
  cursor: pointer;
  padding-right: 1em;
  padding-left: 1em;
  height: calc(100% - 1px);
  text-decoration: none;
  text-shadow: 0px 1px 0px hsla(0, 0%, 100%, 0.25);
  color: hsla(0, 0%, 85%);
  font-size: 1.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-item:not(.active):hover {
  background-image: radial-gradient(ellipse at bottom,
      hsla(0, 0%, 100%, 0.1),
      transparent,
      transparent);
  text-shadow: 0px 1px 4px hsla(0, 0%, 100%, 0.5);
  color: hsla(0, 0%, 100%);
}

.navbar-item:not(.active):active {
  opacity: 0.5;
}

.navbar-item.active {
  background-image: linear-gradient(to right,
      hsla(0, 0%, 0%, 0.33),
      transparent 25%),
    linear-gradient(to bottom, hsla(0, 0%, 0%, 0.33), transparent 50%),
    linear-gradient(to left, hsla(0, 0%, 0%, 0.33), transparent 25%),
    radial-gradient(ellipse at bottom,
      hsla(0, 0%, 100%, 0.2),
      transparent,
      transparent);
  color: white;
}

.navbar-menu-button-holder {
  display: none;
}

.decrease-space-below {
  margin-bottom: -0.5em;
}

#popup-bg {
  display: flex;
  position: fixed;
  top: 64px;
  left: 0;
  align-items: center;
  justify-content: center;
  perspective: 512px;
  z-index: 1;
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 100vw;
  height: calc(100vh - 64px);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup-box {
  transform-style: preserve-3d;
  margin: 24px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 1), 0 0 0 2px hsla(0, 0%, 0%, 0.5),
    0 0 8px black;
  background-image: radial-gradient(ellipse 100% 33% at bottom,
      hsla(0, 0%, 0%, 0.15),
      transparent),
    radial-gradient(ellipse at bottom left,
      transparent 75%,
      hsla(0, 0%, 100%, 0.75)),
    radial-gradient(ellipse at bottom right,
      transparent 75%,
      hsla(0, 0%, 100%, 0.75)),
    linear-gradient(to bottom,
      hsla(0, 0%, 100%, 0.55),
      hsla(0, 0%, 100%, 0.6) 49%,
      hsla(0, 0%, 100%, 0.5) 51%);
  width: clamp(360px, 100%, 720px);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.indent {
  box-shadow: inset 0 0 8px hsla(0, 0%, 0%, 1),
    0 0 4px hsla(0, 0%, 100%, 1);
}

#popup-title {
  text-shadow: 0.5px 0.5px 8px white,
    0.5px 0.5px 8px white,
    0.5px 0.5px 8px white;
  font-weight: bold;
}

#popup-body {
  box-shadow: inset 0 -2px 4px hsla(0, 0%, 100%, .1);
  background-color: hsla(0, 0%, 100%, 0.5);
}

#popup-actions {
  display: flex;
  justify-content: flex-end;
  box-shadow: inset 0 2px 4px hsla(0, 0%, 0%, .05);
  background-color: hsla(0, 0%, 100%, 0.4);
}