@media only screen and (max-width: 768px) and (orientation: portrait) {
  #ribbon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #content {
    position: absolute;
    top: 64px;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-item {
    display: none;
  }

  .navbar-menu-button-holder {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    font-size: 1.25em;
  }

  .navbar-menu-button {
    display: inline-block;
    transition-duration: 50ms;
    background-image: url('/img/Icon-Hamburger.svg');
    cursor: pointer;
    padding-right: 1em;
    padding-left: 1em;
    width: 64px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navbar-menu-button:hover {
    background-image: url('/img/Icon-Hamburger-Hover.svg'),
      radial-gradient(ellipse at bottom,
        hsla(0, 0%, 100%, 0.1),
        transparent,
        transparent);
  }

  .navbar-menu-button.active {
    background-image: url('/img/Icon-Hamburger-Active.svg'),
      linear-gradient(to right, hsla(0, 0%, 0%, 0.33), transparent 25%),
      linear-gradient(to bottom, hsla(0, 0%, 0%, 0.33), transparent 50%),
      linear-gradient(to left, hsla(0, 0%, 0%, 0.33), transparent 25%),
      radial-gradient(ellipse at bottom,
        hsla(0, 0%, 100%, 0.2),
        transparent,
        transparent);
  }

  .navbar-menu-holder {
    display: grid;
    position: sticky;
    top: 64px;
    right: 0;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1.5fr;
    z-index: 1;
    width: 100%;
  }

  .navbar-menu {
    grid-row: 1;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.25), 0 1px 0 hsla(0, 0%, 0%, 1),
      0 4px 8px hsla(0, 0%, 0%, 0.75);
    background-image: linear-gradient(to bottom,
        hsla(0, 0%, 0%, 0.75),
        hsla(0, 0%, 0%, 0.8)),
      repeating-linear-gradient(to right,
        transparent,
        transparent 2px,
        hsla(0, 0%, 100%, 0.1) 2px,
        hsla(0, 0%, 100%, 0.1) 4px);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .navbar-menu-item {
    display: block;
    transition-duration: 50ms;
    cursor: pointer;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px hsla(0, 0%, 100%, 0.25);
    color: hsla(0, 0%, 85%);
    font-size: 1.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navbar-menu-item:hover {
    opacity: 0.5;
    background-image: radial-gradient(ellipse,
        transparent,
        hsla(0, 0%, 0%, 0.75));
    text-shadow: 0px 1px 0px hsla(0, 0%, 100%, 0.25);
    color: white;
  }

  .navbar-menu-item:active {
    opacity: 1;
    background-image: radial-gradient(ellipse,
        hsla(0, 0%, 100%, 0.1),
        transparent,
        transparent);
    text-shadow: 0px 1px 4px hsla(0, 0%, 100%, 0.5);
    color: hsla(0, 0%, 100%);
  }

  .navbar-menu-item.active {
    opacity: 1;
    background-image: radial-gradient(ellipse,
        transparent,
        hsla(0, 0%, 0%, 0.5));
    text-shadow: 0px 1px 0px hsla(0, 0%, 100%, 0.25);
    color: white;
  }

  .navbar-menu-underlay {
    grid-row: 2;
  }

  .box-grid {
    margin: 0;
    padding: 0;
  }

  .box {
    width: 100%;
  }
}

.nav-hidden {
  display: none;
}

.hidden {
  display: none;
}

.display-block {
  display: block;
}

.word-break-all {
  word-break: break-all;
}