.accordion[data-v-327fe298] [data-part=item-trigger]{padding:0 .75em}.accordion .left-right-padding[data-v-327fe298]{padding:0 1.25em}.button-section[data-v-327fe298]{padding-bottom:1em;text-align:center}
