.command-link-area[data-v-bd935d4d]{display:flex;flex-direction:column}.command-link-area[data-v-bd935d4d]>*{margin:2em 0 0}@media(max-width:576px){.command-link-area[data-v-bd935d4d]>*{margin:2em 1em 0}}
