.command-link-area[data-v-12bd6ecb]{display:flex;flex-direction:column}.command-link-area[data-v-12bd6ecb]>*{margin:2em 0 0}@media not (min-width:576px){.command-link-area[data-v-12bd6ecb]>*{margin:2em 1em 0}}
