.flex {
  gap: 1em;
}

.flex-many {
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;

  > * {
    width: calc(50% - 2.5em);
  }
}

.sticky {
  position: sticky;
  top: calc(64px + 24px);
  align-self: start;
}

.separator {
  background: linear-gradient(
    to bottom,
    transparent,
    hsl(0deg 0% 100% / 50%),
    hsl(0deg 0% 100% / 50%),
    transparent
  );
  width: 1px;
  white-space: nowrap;

  &::before,
  &::after {
    display: inline-block;
    position: relative;
    top: 0;
    background: linear-gradient(
      to bottom,
      transparent,
      hsl(0deg 0% 0% / 25%),
      hsl(0deg 0% 0% / 25%),
      transparent
    );
    width: 1px;
    height: 100%;
    content: '';
  }

  &::before {
    left: -1px;
  }
}

@media (width <= 768px) {
  .flex-many {
    > * {
      display: block;
      margin: 0;
      width: auto;
    }
  }

  .sticky {
    position: static;
  }

  .separator {
    display: none;
  }
}
